@{
    ViewData["Title"] = "Home";
}
@using System.Globalization
@using Application.AppService.ArticleApp.Dto
@model ArticleOutputWithTypeDto

<div class="jumbotron p-4 p-md-5 text-white rounded bg-secondary">
    <div class="col-md-8 px-0">
        <h1 class="font-italic">Fading is true while flowering is past</h1>
        <p class="lead my-3">We laughed and kept saying"see u soon",but inside we both knew we'd never see each other again.</p>
        <p class="lead mb-0">Life fucking goes on.</p>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-3 text-primary">Withered</strong>
                <h4 class="mb-3">Push yourself.</h4>
                <div class="mb-1 text-muted"> </div>
                <p class="card-text mb-auto">Carpe diem. Seize the day.</p>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="~/images/falling.jpg" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-info">Crisp</strong>
                <h4 class="mb-3"> Don’t settle.</h4>
                <div class="mb-1 text-muted"> </div>
                <p class="mb-auto">Busy living || Busy dying.</p>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="~/images/sea.jpg" />
            </div>
        </div>
    </div>
</div>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                Shooting Star
            </h3>
            @if (Model.Life != null)
            {
                @foreach (var item in Model.Life)
                {
                    <div class="blog-post">
                        <h2 class="blog-post-title">@item.Title</h2>
                        <p class="blog-post-meta">@item.CreateTime.ToString("MMMM dd , yyyy", new CultureInfo("en-US")) by @item.Author</p>
                        <p class="font-weight-lighter">@item.Summary</p>
                        <p>@item.Content</p>
                    </div>
                }
            }
        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">Paradox </h4>
                <p class="mb-0">Words they always win,but I know I'll lose.</p>
            </div>

            <div class="p-4">
                <h4 class="font-italic">Yatter</h4>
                @if (Model.Yatter != null)
                {
                    <ol class="list-unstyled mb-0">
                        @foreach (var item in Model.Yatter)
                        {
                            <li><p>@item.Summary</p></li>
                        }
                    </ol>
                }
            </div>
        </aside>

    </div>
</main>