@using Domain.QueryParameterFolder
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Article";
    var input = ViewData["input"] as ArticleParameter;
}
@using Domain.Base
@using Domain.Enum
@using Application.ArticleApp.Dto
@model PaginatedList<ArticleOutputDto>

<link href="~/lib/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />

<div id="toolbar">
    <a href="/admin/NewArticle" class="text-decoration-none"><i class="fas fa-plus"></i>New Article</a>
    <form id="formArticle" asp-controller="Admin" asp-action="Article">
        <input type="hidden" name="PageIndex" value="@Model.PageIndex" />
        <input type="hidden" name="PageSize" value="@Model.PageSize" />
        <div class="float-right d-md-inline-block">
            <div class="input-group mb-4">
                <label for="ArticleType" class="col-sm-2 col-form-label mr-2">ArticleType:</label>
                <select id="ArticleType" name="ArticleType" class="mr-2 form-control" onchange="typeChange()">
                    <option data-selected="@(input.ArticleType.HasValue ?"":"selected")" value="">All</option>
                    @{
                        var type = input.ArticleType.HasValue ? input.ArticleType.ToString() : "";
                    }
                    @foreach (var item in Enum.GetValues(typeof(ArticleType)))
                    {
                        <option data-selected="@(type.Equals(Enum.GetName(typeof(ArticleType), item))?"selected":"")" value="@((int)item)">@Enum.GetName(typeof(ArticleType), item)</option>
                    }
                </select>
                <input class="form-control" type="text" placeholder="Search Title" name="Title" value="@input.Title">
                <div class="input-group-append">
                    <a href="javascript:reset()" class="btn border-dark">Search</a>
                </div>
            </div>
        </div>
    </form>
</div>
<table id="articleTable" data-classes="table table-borderless table-hover" data-toggle="table" data-side-pagination="server" data-page-size="20" data-height="70%">
    <thead>
        <tr>
            <th data-align="center">Title</th>
            <th data-align="center">Type</th>
            <th data-align="center">CreateTime</th>
            <th data-align="center">Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.ArticleType</td>
                <td>@item.CreateTime</td>
                <td>
                    <a href="#" class="btn btn-sm btn-outline-secondary">Modify</a>
                    <a href="#" class="btn btn-sm btn-outline-danger">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="mt-2 float-md-right">
    <nav>
        <ul class="pagination">
            <li class="page-item"><a class="btn btn-outline-primary @(Model.HasPrevious?" ":" disabled")" href="javascript:PrevOrNext();">Prev</a></li>
            <li class="page-item"><a class="btn btn-outline-primary @(Model.HasNext?" ":" disabled")" href="javascript:PrevOrNext(1);">Next</a></li>
        </ul>
    </nav>
</div>
<script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
<script>
    (function () {
        $("#ArticleType option").each(function () {
            if ($(this).attr("data-selected")) {
                $(this).attr("selected","selected");
            }
        });
    })();
    var PrevOrNext = function (num) {
        var $page = $("form input[name='PageIndex']");
        if (num)
            $page.val(@(Model.PageIndex+1));
        else
            $page.val(@(Model.PageIndex-1));
        $("#formArticle").submit();
    };
    var typeChange = function () {
        $("input[name='PageIndex']").val(0);
        $("#formArticle").submit();
    }
    var reset = function () {
        $("input[name='PageIndex']").val(0);
        $("#formArticle").submit();
    }
</script>